@charset "utf-8";

// ========== Variables ==========
@import "foundation/variables.scss";

// ========== Mixin ==========
@import "foundation/mixin.scss";

/* ==============================
Foundation
============================== */

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  color: $text-color;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* ==============================
Layout
============================== */
.l-navi {
  &__inner {
    margin: auto;
    padding: 20px 0;
    max-width: $page-max-width;
  }
}
.l-main-visual {
  position: relative;
  height: 60vh;
  background: url(../images/main-img.jpg) no-repeat center/cover;
}
.l-section {
  padding: 40px 6.4%;
  &--colored {
    background-color: map-get($theme-colors, "main");
  }
}
/* ==============================
Object/Component
============================== */
.c-navi-link {
  position: relative;
  font-size: 1.6rem;
  &::after {
    @include pseudo-el(block, "");
    @include centering-x();
    @include box-size(40px, 2px);
    bottom: -4px;
    background-color: #000;
  }
  &--green::after {
    @extend .c-navi-link::after;
    background-color: map-get($theme-colors, green);
  }
  &--blue::after {
    @extend .c-navi-link::after;
    background-color: map-get($theme-colors, blue);
  }
  &--red::after {
    @extend .c-navi-link::after;
    background-color: map-get($theme-colors, red);
  }
  &--purple::after {
    @extend .c-navi-link::after;
    background-color: map-get($theme-colors, purple);
  }
}
.c-section-title {
  font-size: 2.4rem;
  font-weight: normal;
  text-align: center;
}
.c-section-title-sub {
  position: relative;
  margin-left: 8px;
  font-size: 1.6rem;
  vertical-align: middle;
  &::before {
    @include pseudo-el(inline-block, "");
    @include positioning(absolute, 50%, 0, 0, -8px);
    @include box-size(2px, 20px);
    background-color: #000;
    transform: translateY(-50%);
  }
  &--green::after {
    @extend .c-section-title-sub::before;
    background-color: map-get($theme-colors, green);
  }
  &--blue::after {
    @extend .c-section-title-sub::before;
    background-color: map-get($theme-colors, blue);
  }
  &--red::after {
    @extend .c-section-title-sub::before;
    background-color: map-get($theme-colors, red);
  }
  &--purple::after {
    @extend .c-section-title-sub::before;
    background-color: map-get($theme-colors, purple);
  }
}
.c-skill-item {
  &__box {
    display: flex;
    padding: 16px;
    width: 328px;
    border-radius: 16px;
    background-color: map-get($theme-colors, main);
    &--gray {
      background-color: map-get($theme-colors, gray);
    }
  }
  &__icon {
    @include box-size(48px, 48px);
    margin-right: 28px;
  }
  &__text-wrapper {
    width: 220px;
  }
  &__title {
    margin: 0 76px 8px 0;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    &--center-y {
      margin: 0 76px 0 0;
      padding-top: 10px;
    }
  }
  &__text {
    list-style: square inside;
    font-size: 1.2rem;
  }
}

/* 上に戻るボタン */
.c-to-top-button {
  @include positioning(fixed, auto, 20px, 20px, auto);
  @include box-size(44px, 44px);
  opacity: 0;
  border: 2px solid #3d3d3d;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.fadein {
  opacity: 1;
}
.c-to-top-button::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%) rotate(45deg);
  width: 40%;
  height: 40%;
  border-top: 2px solid #3d3d3d;
  border-left: 2px solid #3d3d3d;
  content: "";
}
/* ==============================
Object/Project
============================== */
.p-navi {
  &__items {
    display: flex;
    justify-content: center;
  }
  &__item {
    &:not(:last-of-type) {
      margin-right: 6.4%;
    }
  }
}
.p-main-title {
  &__wrapper {
    @include box-size(auto, 108px);
    text-align: center;
  }
  &__text {
    display: block;
    &--big {
      font-size: 3.2rem;
      @include mq(tablet) {
        font-size: 4rem;
      }
    }
    &--small {
      font-size: 2.4rem;
      font-weight: normal;
      @include mq(tablet) {
        font-size: 3.2rem;
      }
    }
  }
}
.p-profile-text {
  &__wrapper {
    max-width: 360px;
  }
  &__name {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  &__text:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}
.p-skill {
  &__wrapper {
    margin: auto;
    max-width: 328px;
    @include mq(tablet) {
      max-width: 680px;
    }
    @include mq(pc) {
      max-width: 1032px;
    }
  }
  &__items {
    display: grid;
    gap: 24px;
    justify-items: center;
    @include mq(tablet) {
      grid-template-columns: repeat(auto-fill, 328px);
      justify-content: center;
      margin: auto;
    }
  }
}
.p-works {
  &__wrappers {
    display: grid;
    gap: 24px;
    grid-template-columns: 328px;
    justify-content: center;
    margin: auto;
    max-width: 1032px;
    @include mq(tablet) {
      grid-template-columns: repeat(auto-fit, 328px);
      justify-content: center;
    }
  }
  &__title {
    margin-bottom: 32px;
  }
  &__item {
    line-height: 1.8;
  }
}
.p-google-form {
  position: relative;
  iframe {
    @include positioning(absolute, 0, auto, auto, 0);
    width: 100%;
  }
}
/* ==============================
Object/Utility
============================== */
.u-mgn {
  &-auto {
    margin: auto;
  }
  &-bottom-l {
    margin-bottom: 40px;
  }
  &-bottom-m {
    margin-bottom: 32px;
  }
  &-bottom-s {
    margin-bottom: 20px;
  }
}
.u-centering-xy {
  @include positioning(absolute, 0, 0, 0, 0);
  margin: auto;
}
.u-green {
  color: map-get($theme-colors, green);
}
.u-blue {
  color: map-get($theme-colors, blue);
}
.u-red {
  color: map-get($theme-colors, red);
}
.u-purple {
  color: map-get($theme-colors, purple);
}
/* ==============================
JavaScript
============================== */
.js-scrollanime {
  opacity: 0;
}
.js-fadeInDown {
  animation-name: js-fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes js-fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.js-updown {
  transform: translateY(-100px);
}
.js-downup {
  transform: translateY(100px);
}

.js-sect02 {
  overflow: hidden;
}
.js-slide-right {
  transform: translateY(200px);
}
.js-slide-left {
  transform: translateX(-200px);
}
